<a href="https://colab.research.google.com/github/Thiago383/Python-Estudos/blob/main/Estudo_Python_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuplas**

Tuplas são váriaveis compostas imutáveis.

**Estrutura**

* As variáveis comuns só conseguem armazenar 1 valor por vez;
* Tuplas conseguem armazenar diversos valores diferentes dentro de uma só variável.
* Para declarar um tupla, basta colocar todos os valores entre parênteses e separados por vírgula;
* Pode utilizar aspas simples e aspas duplas;

*Exemplo 1*

In [ ]:
# Definindo a Tupla.
tupla = ("valor1", "valor2", "valor3")

# Imprimindo a Tupla.
print(tupla)

('valor1', 'valor2', 'valor3')

*Exemplo 2*

Defina uma tupla com valores numéricos.

In [ ]:
# Definindo a Tupla.
tupla = ('7','10','5','20')

# Imprima a Tupla.
print(tupla)

('7', '10', '5', '20')

*Exemplo 3*
Defina uma tupla com vários tipos de dados, String, Float, Int, Boolean, ... .

In [ ]:
# Definindo o valor/valores da Tupla.
tupla = ("Thiago", 23, 1.65, False)

# Imprima a Tupla.
print(tupla)

('Thiago', 23, 1.65, False)

# **Acessando os Valores**

* Para acessar os valores das tuplas, basta colocar o índice da tupla desejado entre colchetes;

Cada valor dentro da tupla fica salvo como um índice, que começa em 0 e vai aumentando de 1 em 1 até o último termo da tupla.
Então pra tupla abaixo:



```
         [0] [1] [2] [3]
tupla2 = (1,  3,  5,  7)
```
Os termos dela são:



```
tupla2 [0] == 1
tupla2 [1] == 3
tupla2 [2] == 5
tupla2 [3] == 7
```

*Exemplo 1*


Imprimindo cada valor acima.

In [ ]:
# Definindo a tupla.
tupla2 = (1, 3, 5, 7)

# Imprimindo valores e suas posições respectivamente.
print(tupla2[0])
print(tupla2[1])
print(tupla2[2])
print(tupla2[3])

1
3
5
7

*Exemplo 2*

Imprimindo a soma dos valores da "tupla2".

In [ ]:
# Somando os valores
soma = tupla2[0] + tupla2[1] + tupla2[2] + tupla2[3]

# Imprimindo a soma dos valores
print(soma)

16

**Acessando Múltiplos Valores**

* É possível acessar mais de um valor ao mesmo tempo, basta colocar entre colchetes;


```
tupla2[0:2]
tupla2[2:4]
tupla2[:3]
tupla2[2:]
tupla2[-1]
```
[0:2]: Vai acessar os primeiros dois valores da tupla -> ``` 10, 17 ```

[2:4]: Vai acessar o 3º e o 4º valor da tupla -> ``` 6, 7 ```

[:3]: Vai acessar os primeiros 3 valores da tupla -> ``` 10, 17 6 ```

[2:]: Vai partir do 3º ao último termo da tupla -> ``` 6, 7 ```

[-1]: Vai acessar o último termo da tupla -> ``` 7 ```

In [10]:
# Defininda a tupla
tupla2 = (10, 17, 6, 7)

# Acessndo mais de um valor da "tupla2"
print(tupla2[0:2])
print("")
print(tupla2[2:4])
print("")
print(tupla2[:3])
print("")
print(tupla2[2:])
print("")
print(tupla2[-1])

(10, 17)

(6, 7)

(10, 17, 6)

(6, 7)

7