<a href="https://colab.research.google.com/github/Thiago383/Python-Estudos/blob/main/Estudo_Python_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuplas**

Tuplas são váriaveis compostas imutáveis.

**Estrutura**

* As variáveis comuns só conseguem armazenar 1 valor por vez;
* Tuplas conseguem armazenar diversos valores diferentes dentro de uma só variável.
* Para declarar um tupla, basta colocar todos os valores entre parênteses e separados por vírgula;
* Pode utilizar aspas e aspas duplas;
* Tuplas são muito utilizadas como váriavel de segurança, por exemplo, e-mail pode ser armazenado em um tupla.

*Exemplo 1*

In [ ]:
# Definindo a Tupla.
tupla = ("valor1", "valor2", "valor3")

# Imprimindo a Tupla.
print(tupla)

('valor1', 'valor2', 'valor3')

*Exemplo 2*

Defina uma tupla com valores numéricos.

In [ ]:
# Definindo a Tupla.
tupla = ('7','10','5','20')

# Imprima a Tupla.
print(tupla)

('7', '10', '5', '20')

*Exemplo 3*
Defina uma tupla com vários tipos de dados, String, Float, Int, Boolean, ... .

In [ ]:
# Definindo o valor/valores da Tupla.
tupla = ("Thiago", 23, 1.65, False)

# Imprima a Tupla.
print(tupla)

('Thiago', 23, 1.65, False)

# **Acessando os Valores**

* Para acessar os valores das tuplas, basta colocar o índice da tupla desejado entre colchetes;

Cada valor dentro da tupla fica salvo como um índice, que começa em 0 e vai aumentando de 1 em 1 até o último termo da tupla.
Então pra tupla abaixo:



```
         [0] [1] [2] [3]
tupla2 = (1,  3,  5,  7)
```
Os termos dela são:



```
tupla2 [0] == 1
tupla2 [1] == 3
tupla2 [2] == 5
tupla2 [3] == 7
```

*Exemplo 1*


Imprimindo cada valor acima.

In [ ]:
# Definindo a tupla.
tupla2 = (1, 3, 5, 7)

# Imprimindo valores e suas posições respectivamente.
print(tupla2[0])
print(tupla2[1])
print(tupla2[2])
print(tupla2[3])

1
3
5
7

*Exemplo 2*

Imprimindo a soma dos valores da "tupla2".

In [ ]:
# Somando os valores
soma = tupla2[0] + tupla2[1] + tupla2[2] + tupla2[3]

# Imprimindo a soma dos valores
print(soma)

16

**Acessando Múltiplos Valores**

* É possível acessar mais de um valor ao mesmo tempo, basta colocar entre colchetes;


```
tupla2[0:2]
tupla2[2:4]
tupla2[:3]
tupla2[2:]
tupla2[-1]
```
[0:2]: Acessa os dois primeiros elementos da tupla. Resultado: ``` 10, 17 ```

[2:4]: Acessa o 3º e o 4º elementos da tupla. Importante lembrar que o índice final (posição 4) não é incluído. Resultado: ``` 6, 7 ```

[:3]: Acessa os três primeiros elementos da tupla. Resultado: ``` 10, 17 6 ```

[2:]: Acessa do 3º elemento até o último. Resultado: ``` 6, 7 ```

[-1]: Acessa o último elemento da tupla. Resultado: ``` 7 ```

In [ ]:
# Defininda a tupla
tupla2 = (10, 17, 6, 7)

# Acessndo mais de um valor da "tupla2"
print(tupla2[0:2])
print("")
print(tupla2[2:4])
print("")
print(tupla2[:3])
print("")
print(tupla2[2:])
print("")
print(tupla2[-1])

(10, 17)

(6, 7)

(10, 17, 6)

(6, 7)

7

**As tuplas são imutáveis, ou seja, a partir do momento que ela é declarada, não pode mais mudar seus valores.**

A tupla possui o próprio tipo: ``` tuple ```.


Porém os valores de cada um dos seus termos permanecem com o tipo original.

In [5]:
# Definindo a tupla
tupla3 = (3,4,6,10)

# Imprimindo as variáveis e seus tipos
print(tupla3)
print()
print(type(tupla3[0])) # Resposta -> "int". Ou seja, se pegarmos um valor separadamente o comando "type" vai retornar o valor da variável.
print()
print(type(tupla3))

(3, 4, 6, 10)

<class 'int'>

<class 'tuple'>

# Funções com Tuplas

Temos algumas funções muito usadas em tuplas:



``` len(tupla1) ```: Quantindade de termos

``` sorted(tupla1) ```: Ordenar

``` tupla1.count(valor) ```: Contar a quantidade de "valor"

``` tupla1.index(valor) ```: Achar a primeira posição de "valor"

``` tupla1.index(valor, pos) ```: Achar o "valor" a partir da "pos"

``` tupla1 + tupla2 ```: Concatenar *tuplas*

---


*Exemplo 1*



Utilizando as tuplas a baixo:


```
tupla1 = ("Lanche", "Batata", "Refri")
tupla2 = (0, 7, 8, 9, 12, 17, 6)
tupla3 = (1, 5, 5, 27, 15, 4, "Sanduiche")
```

Faça:
* Calcule o tamanho da tuplas: tupla1 e tupla2
* Imprima as tuplas ordenadas: tupla1 e tupla2 e depois reimprima-as
* Conte quantas vezes aparecem o valor 5 na "tupla3"
* Procure o valor "5" na "tupla3" após o 2° termo
* Concatene as tuplas: tupla2 e tupla3