<a href="https://colab.research.google.com/github/Thiago383/Python-Estudos/blob/main/Estudo_Python_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuplas**

Tuplas são váriaveis compostas imutáveis.

**Estrutura**

* As variáveis comuns só conseguem armazenar 1 valor por vez;
* Tuplas conseguem armazenar diversos valores diferentes dentro de uma só variável.
* Para declarar um tupla, basta colocar todos os valores entre parênteses e separados por vírgula;
* Pode utilizar aspas e aspas duplas;
* Tuplas são muito utilizadas como váriavel de segurança, por exemplo, e-mail pode ser armazenado em um tupla.

*Exemplo 1*

In [ ]:
# Definindo a Tupla.
tupla = ("valor1", "valor2", "valor3")

# Imprimindo a Tupla.
print(tupla)

('valor1', 'valor2', 'valor3')

*Exemplo 2*

Defina uma tupla com valores numéricos.

In [ ]:
# Definindo a Tupla.
tupla = ('7','10','5','20')

# Imprima a Tupla.
print(tupla)

('7', '10', '5', '20')

*Exemplo 3*
Defina uma tupla com vários tipos de dados, String, Float, Int, Boolean, ... .

In [ ]:
# Definindo o valor/valores da Tupla.
tupla = ("Thiago", 23, 1.65, False)

# Imprima a Tupla.
print(tupla)

('Thiago', 23, 1.65, False)

# **Acessando os Valores**

* Para acessar os valores das tuplas, basta colocar o índice da tupla desejado entre colchetes;

Cada valor dentro da tupla fica salvo como um índice, que começa em 0 e vai aumentando de 1 em 1 até o último termo da tupla.
Então pra tupla abaixo:



```
         [0] [1] [2] [3]
tupla2 = (1,  3,  5,  7)
```
Os termos dela são:



```
tupla2 [0] == 1
tupla2 [1] == 3
tupla2 [2] == 5
tupla2 [3] == 7
```

*Exemplo 1*


Imprimindo cada valor acima.

In [ ]:
# Definindo a tupla.
tupla2 = (1, 3, 5, 7)

# Imprimindo valores e suas posições respectivamente.
print(tupla2[0])
print(tupla2[1])
print(tupla2[2])
print(tupla2[3])

1
3
5
7

*Exemplo 2*

Imprimindo a soma dos valores da "tupla2".

In [ ]:
# Somando os valores
soma = tupla2[0] + tupla2[1] + tupla2[2] + tupla2[3]

# Imprimindo a soma dos valores
print(soma)

16

**Acessando Múltiplos Valores**

* É possível acessar mais de um valor ao mesmo tempo, basta colocar entre colchetes;


```
tupla2[0:2]
tupla2[2:4]
tupla2[:3]
tupla2[2:]
tupla2[-1]
```
[0:2]: Acessa os dois primeiros elementos da tupla. Resultado: ``` 10, 17 ```

[2:4]: Acessa o 3º e o 4º elementos da tupla. Importante lembrar que o índice final (posição 4) não é incluído. Resultado: ``` 6, 7 ```

[:3]: Acessa os três primeiros elementos da tupla. Resultado: ``` 10, 17 6 ```

[2:]: Acessa do 3º elemento até o último. Resultado: ``` 6, 7 ```

[-1]: Acessa o último elemento da tupla. Resultado: ``` 7 ```

In [ ]:
# Defininda a tupla
tupla2 = (10, 17, 6, 7)

# Acessndo mais de um valor da "tupla2"
print(tupla2[0:2])
print("")
print(tupla2[2:4])
print("")
print(tupla2[:3])
print("")
print(tupla2[2:])
print("")
print(tupla2[-1])

(10, 17)

(6, 7)

(10, 17, 6)

(6, 7)

7

**As tuplas são imutáveis, ou seja, a partir do momento que ela é declarada, não pode mais mudar seus valores.**

A tupla possui o próprio tipo: ``` tuple ```.


Porém os valores de cada um dos seus termos permanecem com o tipo original.

In [ ]:
# Definindo a tupla
tupla3 = (3,4,6,10)

# Imprimindo as variáveis e seus tipos
print(tupla3)
print()
print(type(tupla3[0])) # Resposta -> "int". Ou seja, se pegarmos um valor separadamente o comando "type" vai retornar o valor da variável.
print()
print(type(tupla3))

(3, 4, 6, 10)

<class 'int'>

<class 'tuple'>

# Funções com Tuplas

Temos algumas funções muito usadas em tuplas:



``` len(tupla1) ```: Quantindade de termos

``` sorted(tupla1) ```: Ordenar

``` tupla1.count(valor) ```: Contar a quantidade de "valor"

``` tupla1.index(valor) ```: Achar a primeira posição de "valor"

``` tupla1.index(valor, pos) ```: Achar o "valor" a partir da "pos"

``` tupla1 + tupla2 ```: Concatenar *tuplas*

---


*Exemplo 1*



Utilizando as tuplas a baixo:


```
tupla1 = ("Lanche", "Batata", "Refri")
tupla2 = (0, 7, 8, 9, 12, 17, 6)
tupla3 = (1, 5, 5, 27, 15, 4, "Sanduiche")
```

Faça:
* Calcule o tamanho da tuplas: tupla1 e tupla2
* Imprima as tuplas ordenadas: tupla1 e tupla2 e depois reimprima-as
* Conte quantas vezes aparecem o valor 5 na "tupla3"
* Procure o valor "5" na "tupla3" após o 2° termo
* Concatene as tuplas: tupla2 e tupla3

In [ ]:
# Declarando as Tuplas
tupla1 = ("Lanche", "Batata", "Refri")
tupla2 = (0, 7, 8, 9, 12, 17, 6)
tupla3 = (1, 5, 4, 5, 15, 4, "Sanduiche")

In [ ]:
# Tamanho das tuplas "tupla1" e "tupla2"
print(len(tupla1)) # Resposta -> 3
print(len(tupla2)) # Resposta -> 7
print(len(tupla3)) # Resposta -> 7

3
7
7

In [ ]:
# Imprmindo as "tupla1" e "tupla2"
print(sorted(tupla1)) # Vai ordenar por ordem alfabetica, por que estamos ordenando Strings
print(sorted(tupla2)) # Vai ordenar do menor para o maior

['Batata', 'Lanche', 'Refri']
[0, 6, 7, 8, 9, 12, 17]

In [ ]:
# Conte quantas vezes aparecem o valor 5 na "tupla3"
print(tupla3)
print()

# Contando
tupla3_count = tupla3.count(5)
print(tupla3_count) # Resposta -> 2

(1, 5, 5, 27, 15, 4, 'Sanduiche')

2

In [ ]:
# Achar a primeira posição do valor "5" na tupla3
print(tupla3)
print()

# Variável "tupla3_index"
tupla3_index = tupla3.index(5)
print(tupla3_index) # Resposta -> posição 1

# Procurando um "valor" após uma "posição".
# Variável "tupla3_pos"
tupla3_pos = tupla3.index(5, 2)
print(tupla3_pos) # Resposta -> 3, pois ele vai começar a contar apartir do 2° posição, que nesse caso é "4"

(1, 5, 4, 5, 15, 4, 'Sanduiche')

1
3

In [ ]:
# Concatenar as tuplas: "tupla1" e "tupla2"
tupla_concatenada = tupla1 + tupla2
print(tupla_concatenada)

# Contar o valor da nova tupla
print(len(tupla_concatenada))

# Ordenar a tupla
print(sorted(tupla_concatenada)) # Resposta -> erro, pois não pode concatenar "int" com "String"

('Lanche', 'Batata', 'Refri', 0, 7, 8, 9, 12, 17, 6)
10

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
# Concatene as "tupla2" e "tupla3"
print(tupla2 + tupla3)

# Concatene as "tupla3" e "tupla2"
print(tupla3 + tupla2) # Respostas diferentes

(0, 7, 8, 9, 12, 17, 6, 1, 5, 4, 5, 15, 4, 'Sanduiche')
(1, 5, 4, 5, 15, 4, 'Sanduiche', 0, 7, 8, 9, 12, 17, 6)

# Tuplas dentro do For

As tuplas possuem vários valores, assim como a range. Portanto, podemos rodar um looping de for com os valores diretos de uma lista.

**Estrutura:**
A partir do momento que a tupla esta definida podemos rodar o for utilizando:


```
for i in tupla:
```
Quando utilizamos esse comando, em cada passo do loop, a variável de controle ``` i ``` vai valer cada item da tupla, até percorrermos toda a tupla.

*Exemplo 1*


Dada a tupla:
``` tupla1 = ("Lanche", "Refri", "Batata") ```


Imprima seus valores.

In [ ]:
# Definindo a váriavel
tupla1 = ("Lanche", "Refri", "Batata")

# Imprimindo os valores da "tupla1"
for i in tupla1:
  print("Temos no nosso cardápio: {}".format(i))

print("Fim do cardápio!")

Temos no nosso cardápio: Lanche
Temos no nosso cardápio: Refri
Temos no nosso cardápio: Batata
Fim do cardápio!

*Exemplo 2*

Dado a tupla2, some todos os valores.

In [ ]:
print(tupla2)

# Criando a variável "soma"
soma = 0

# Criando loop para somar todos os valores dentro da "tupla2"
for i in tupla2:
  soma += i
  print("i = {}  soma = {}". format(i, soma)) # Demosntra o que esta acontecendo dentro do loop

print(soma)

(0, 7, 8, 9, 12, 17, 6)
i = 0  soma = 0
i = 7  soma = 7
i = 8  soma = 15
i = 9  soma = 24
i = 12  soma = 36
i = 17  soma = 53
i = 6  soma = 59
59

### **Enumerate()*

Quando usamos essa função dentro da declaração de um for, ela vai mostrar pra gente tanto o valor da variável de controle quanto o indeice dela, segue sintaxe:

```
for indeice, valor in enumerate(tupla1)

```



---


*Exemplo 1*

Mostre os indices e os valores da "tupla1"

In [ ]:
print(tupla1)

for indice, valor in enumerate(tupla1):
  print("para indice = {}, temos o valor = {}".format(indice, valor))

('Lanche', 'Refri', 'Batata')
para indice = 0, temos o valor = Lanche
para indice = 1, temos o valor = Refri
para indice = 2, temos o valor = Batata

# Exercícios

<h2> Exercício 1 </h2>

Dada a tupla abaixo:
```
t1 = ('Doce', 'Churrasco', 'Bala ', 'Tapioca', 'Pizza ', 'Feijão ',
      'Arroz ', 'Açaí ', 'Paçoca ', 'Acarajé', 'Pamonha', 'Dobradinha', 'Rapadura')
```
Faça um programa que:

* O usuário digita uma comida e seu programa diz em qual posição do cardápio esse item está
* Printe os itens em ordem alfabética para o usuário

In [9]:
# Definindo a tupla
# OBS: Na "tupla1" em algumas palavras havia um "espaço", por exemplo: "Bala "
# o que interfere diretamente no processo de busca, ou seja, "Bala " é diferente de "Bala"
tupla1 = ('Doce', 'Churrasco', 'Bala', 'Tapioca', 'Pizza', 'Feijão',
      'Arroz', 'Açaí', 'Paçoca', 'Acarajé', 'Pamonha', 'Dobradinha', 'Rapadura')

# Mostra o cardápio
print("-" * 18)
print( " " + "CARDÁPIO DO DIA")
print("-" * 18)

# Interação com o usuário
comida_digitada = input("Comida: ")

# Mensagem para o cliente
print("Procurando por {} no cardápio.".format(comida_digitada))

# Quebra de linha
print("")

# Mostra a posição da comida digitada pelo cliente
tupla1_posicao = tupla1.index(comida_digitada)
print("A comida {} esta na posição {} do cardápio".format(comida_digitada, tupla1_posicao))

# Cardápio em ordem alfabetica
print("Segue cardápio em ordem alfabetica: ")
print(sorted(tupla1))

------------------
 CARDÁPIO DO DIA
------------------
Comida: Tapioca
Procurando por Tapioca no cardápio.

A comida Tapioca esta na posição 3 do cardápio
Segue cardápio em ordem alfabetica:
['Acarajé', 'Arroz', 'Açaí', 'Bala', 'Churrasco', 'Dobradinha', 'Doce', 'Feijão', 'Pamonha', 'Paçoca', 'Pizza', 'Rapadura', 'Tapioca']

<h2> Exercício 2 </h2>

Dado a tupla abaixo:
```
tupla1 = ('Doce', 2.3, 'Bala ', 0.15, 'Pizza ', 28.9, 'Arroz ', 4.5, 'Paçoca ', 0.5, 'Pamonha', 5.4)
```
Os dados estão organizados de forma que tem o valor do produto e logo após o seu preço. Faça um programa que:

* Mostre o cardápio de forma organizada

Resultado esperado:

![image.png]()

In [26]:
# Definindo a tupla
tupla1 = ('Doce', 2.3, 'Bala', 0.15, 'Pizza', 28.9, 'Arroz', 4.5, 'Paçoca', 0.5, 'Pamonha', 5.4)

# Titulo: Cardápio
print("=" * 40)
print(f"{'Cardápio':^40}")
print("=" * 40)

# Loop criado para acessar a tupla de 2 em 2.
for i in range(0, len(tupla1), 2):
    produto = tupla1[i]
    preco = tupla1[i + 1]
    print(f"{produto:<30} R$ {preco:>6.2f}")

print("=" * 40)

========================================
                Cardápio
========================================
Doce                           R$   2.30
Bala                           R$   0.15
Pizza                          R$  28.90
Arroz                          R$   4.50
Paçoca                         R$   0.50
Pamonha                        R$   5.40
========================================

**Explicação do Loop**

```
range(0, len(tupla1), 2)
```


* Esse **range()** cria uma sequência de índices que vai de **0** até o tamanho da tupla **(len(tupla1))**, com passo de 2.


* Ele gera os índices 0, 2, 4, 6, 8, 10.
* Esses índices são usados para acessar os nomes dos produtos.

* **produto = tupla1[i]** pega o elemento no índice atual **(i)**, que é o nome do produto.



***Exemplo:***

i = 0 → produto = 'Doce'


i = 2 → produto = 'Bala'


preco = tupla1[i + 1] pega o próximo elemento (i + 1), que é o preço correspondente.



***Exemplo:***

i = 0 → preco = 2.3


i = 2 → preco = 0.15

<h2> Exercício 3 </h2>

Dado a mesma tupla do exercício anterior faça um programa que:

* O usuário visualiza o cardápio e digita qual item ele quer comprar. A seguir pergunta se ele quer algo a mais. Caso ele queira vai somando todos os valores do pedido numa variável `soma`.
* No final printe para o usuário o valor total da conta dele